div,
p,
view,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

page {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: 1px;
  position: relative;
}

button {
  font-size: 15px;
}

button::after {
  border: none;
}

.ad-item {
  border-radius: 4px;
  overflow: hidden;
}